h1,
h2,
h3,
h4,
h5,
h6 {
  @apply mb-2 leading-tight;
}

p {
  @apply mb-3 leading-normal;
}

a {
  @apply text-blue-400 no-underline border-b border-transparent;

  transition: 0.2s ease;

  &:hover {
    @apply no-underline;
  }
}

body {
  font-family: "Avenir", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;
}

::selection {
  background: #6cc; /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #6cc; /* Gecko Browsers */
}
